<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Shops</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="navigateToBook()" class="restaurant-card" style="background:url('assets/books.jpg')">
    Book shop
  </ion-card>

  <ion-card (click)="navigateToFlower()" class="restaurant-card" style="background:url('assets/flowers.jpg')">
    Flower shop
  </ion-card>

  <ion-card (click)="navigateToPerfume()" class="restaurant-card" style="background:url('assets/perfume.jpg')">
    Perfume shop
  </ion-card>

  <ion-card (click)="navigateToTech()" class="restaurant-card" style="background:url('assets/tech.jpg')">
    Tech shop
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="startCheckout()" size="small">
    <ion-icon name="cart-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>