<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Restaurants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="navigateToMc()" class="restaurant-card" style="background:url('assets/mcdonalds.jpg')">
    McDonald's
  </ion-card>

  <ion-card (click)="navigateToMn()" class="restaurant-card" style="background:url('assets/montana.jpg')">
    Montana
  </ion-card>

  <ion-card (click)="navigateToCh()" class="restaurant-card" style="background:url('assets/chipas.jpg')">
    Chipas
  </ion-card>

  <ion-card (click)="navigateToPsh()" class="restaurant-card" style="background:url('assets/pasha.jpg')">
    Pasha
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="startCheckout()" size="small">
    <ion-icon name="cart-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>