<ion-header>

  <ion-toolbar>
    <ion-title>Orders</ion-title>

    <ion-buttons slot="end">
      <ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list *ngIf="userOrders">
    <ion-item *ngFor="let order of userOrders" (click)="openSingleOrderModal(order)">
      <ion-grid>
        <ion-row style="width: 100%;">
          <ion-col>
            {{order.location}}
          </ion-col>

          <ion-col style="color: #3880ff">
            {{order.deliveryTime}}
          </ion-col>

          <ion-col *ngIf="order.isStarted">
            <ion-icon class="check" name="checkmark-circle-outline"></ion-icon>
          </ion-col>

          <ion-col *ngIf="!order.isStarted">
            <div class="pending">Pending</div>
          </ion-col>
        </ion-row>

        <ion-row style="width: 100%;">
          <ion-col style="padding-left: 0px;" size="9">
            <div class="orderList">{{order.orderList}}</div>
          </ion-col>

          <ion-col style="padding-left: 0px;" size="3">
            <div style="float: right; color: gray;font-size: 14px;">{{order.totalCost.toFixed(2)}} KM</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>