<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Pharmacy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="refresh(false)" (ionCancel)="resetSearch()" placeholder="Search">
  </ion-searchbar>

  <ion-list *ngIf="drugs">
    <ion-item *ngFor="let drug of drugs">
      <ion-row style="width: 100%;">
        <ion-col size="7">
          {{drug.name}}
        </ion-col>

        <ion-col class="price" size="3">
          {{drug.price.toFixed(2)}} KM
        </ion-col>

        <ion-col (click)="addToCart(drug)" size="2">
          <ion-icon *ngIf="!isAdded(drug)" class="add-remove-icon" name="add-circle-outline"></ion-icon>
          <ion-icon *ngIf="isAdded(drug)" style="color: red;" class="add-remove-icon" name="remove-circle-outline">
          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <div *ngIf="infScrEnabled">
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>

<ion-footer *ngIf="count > 0" class="footer">
  Order {{count}} for {{orderSum.toFixed(2)}} KM
</ion-footer>

<ion-fab *ngIf="count > 0" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="startCheckout()" size="small">
    <ion-icon name="arrow-forward-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>